header {
    padding: 0 3.3rem;
    background-color: #232f3e;
    height: 10vh;
    outline: 2px solid red;
    img {
        align-self: center;
        width: 50px;
    }
    nav {
        outline: 2px solid red;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div {
        width: 25%;
        display: flex;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        list-style-type: none;
        padding: 0;
        li {
            padding-right: 20px;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}
