.button {
    background-color: $teriary-color;
    border: 0px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#nextQuestion {
    display: none;
}

.secondary-button {
    color: white;
    background: none;
    border: 0px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.secondary-button:hover {
    background-color: rgba(128, 128, 128, 0.174);
}