.counterContainer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 20px ;
}

.progressBar {
    width: 40%;
    height: .9em;
    outline: 2px solid ;
    padding: 0px;
}

.progressCounter {
    background-color: white;
    height: 100%;
}

.timeContainer {
    background-color: white;
    color: #141C3A;
    padding: 8px;
    font-size: 1.2em;
}