.stepper-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
    .stepper-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
    .step-counter {
        outline: 2px solid $secondary-color;
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ccc;
        margin-bottom: 8px;
    }
    .completed .step-counter {
        background-color: $secondary-color;
    }
}

.stepper-item::before {
    position: absolute;
    content: '';
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}


/* .stepper-item.active {
    font-weight: bold;
    color: red;
} */

.stepper-item.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid $secondary-color;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}



// .stepper-componnent {
//   width:80%;
//   margin-left: 10%;
// }
// .stepper-componnent .empty-bar{
//     width:100%;
//     height:4px;
//     background-color: aqua;
//     position: relative;
//     z-index: -1;
//     top:20px;
// }
// .stepper-componnent .cercles{
//   display: flex;
//   justify-content: space-between;
//   width:100%;
// }
// .stepper-componnent .cercles .content-cercles{
//     width:40px;
//     height: 40px;
//     border-radius: 50%;
//     border: 2px solid red;
//     background-color: gray;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }